/*
 *
  Example Style Sheet for Pawfaliki  
 *
 */

/* page title - span.wiki_header */
span.wiki_header
{
	font-size: 24px;
	font-weight: bold;   
}

/* error messages - p.error */
p.error
{
	font-weight: bold;
	text-align: center;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	color: red;
}

/* page container */
table.wiki_body_container
{	
 	border-style: none;
 	padding: 0px;
 	padding-left: 2px;
 	padding-right: 2px;
}

/* wiki syntax */
table.wikisyntax
{
	border-style: solid;
	border-width: 1px;
	width: 100%;
	border-color: #666666;
}

/* color for opional syntax values */
span.optionalvalue
{
	color: #0000FF;
}

/* page contents */
span.wiki_body
{	
}

/* general bits & bobs */
body
{
	background-color: black;
	color: white; 
	font-family: courier-new, monospace;
	font-size: 12px;  
	margin-left: 6px;
	margin-right: 18px;
}

/* horizontal rule */
hr
{  
	border-style: none;
	border-top-style: solid;
	border-width: 1px;
	border-color: #666666;
}

/* link */
a
{
	text-decoration: none;  
	color: lime;
}

/* link mouse-over */
a:hover
{
	color: black;
	background: lime;
}

/* active link */
a:active
{
	color: green;
}

/* input */
input
{	
	font-family: courier-new, monospace;
	font-size: 12px; 
	color: lime;
	background: black;
	border-style: none;
	padding: 0px;
	cursor: pointer;
}

/* mouse-over input */
input:hover
{	
	color: black;
	background: lime;
}

/* active input */
input:active
{	
	color: green;
}

/* password entry */
input.pass
{
	font-family: courier-new, monospace;
	border-width: 0.5px;
	border-style: solid;
	border-color: white;
	color: lime;
}  

/* mouse-over password entry */
input.pass:hover
{
	color: lime;
	background: black;
}

/* file upload entry */
input.fileupload
{
	font-family: courier-new, monospace;
	font-size: 12px;
	color: lime;
	padding: 0px;
	background: black;
}

/* main text area */
textarea
{	
	font-family: courier-new, monospace;
	font-size: 12px; 
	color: black;
	background: white;
	padding: 4px;
	border-style: none; 
	height: 320px;
	width: 99%;
}
