Package:          hamachi
Packager:         hashashin
Email:            mecagoenbush@gmail.com
Homepage:         http://barracus.tk
Description:      hamachi
Icon:             hamachi.png
AddonShowName:    hamachi
AddonIndexPage:   index.html
AddonUsedPort:    
CenterType:       0
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Version:          2.1.0.203-1
MinFWVer:
MaxFWVer:
IndividualFlag:
