
.blackListDiv{
	margin-top:0px;
	margin-left: -35px;
}
.blackListDiv li{
	width:500px;
	height:30px;
	border-top: 1px solid #2b2b2b;
	border-bottom: 1px solid #0e0e0e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	list-style-type:none;
	background-color :#1E1E1E;
	line-height:30px;
}

.blackListDiv li .sel {
	float:left;
	width:30px;
	height:25px;
	padding-left:15px;
	padding-top:5px;
}

.blackListDiv li .name {
	float:left;
	width:440px;
	height:30px;
}